body {
    font-family: monospace;
    font-weight: 200;
}

@keyframes place {
    from: {transform: scale(5)}
    to: {transform: scale(1)}
}

.hex {
    stroke: black;
    cursor: pointer;
}

.grid-container {
    width: 100%;
    max-width: 100%;
    border: 1px solid #333;
    margin: 5px;
}


.cell-sel {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin: 5px;
    border: 1px solid #333;
    cursor: pointer;
}

.cell-sel.active {
    background-color: #333;
    color: #fff;
}